html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: $background-primary;
  color: $white;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  max-width: 1500px;
}

.mycontainer {
  width: 100%;
  padding: 0 5%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

._toastContainer li {
  list-style: none;
}

.button {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

}
