html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: $background-primary;
  color: $white;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  max-width: 1500px;
}

.mycontainer {
  width: 100%;
  padding: 0 5%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms linear;
}

label:has([role="button"]),
[role="button"] {
  @include until($breakpoint) {
    width: 100%;
  }
}

.settings_container {
  p,
  label {
    font-size: 0.85rem;
    line-height: 0.8rem;
  }
}


span[role="button"] {
  width: 100%;
}
