$breakpoint: $md;

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin container {
  @include until($sm) {
    max-width: 90%;
  }
  @include until($breakpoint) {
    max-width: 85%;
  }
  @include from($breakpoint) {
    max-width: 80%;
  }
  @include from($lg) {
    max-width: min(68%, 1200px);
  }
}

@mixin until($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin not-mobile {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: calc($breakpoint - 1px)) {
    @content;
  }
}

@mixin handle-hover-active($styles) {
  @media screen and (min-width: $breakpoint) {
    &:hover {
      @each $property, $value in $styles {
        #{$property}: $value;
      }
    }
  }

  @media screen and (max-width: $breakpoint) {
    &:active {
      @each $property, $value in $styles {
        #{$property}: $value;
      }
    }
  }
}

@mixin flexed {
  display: flex;
  align-items: center;
  justify-content: center;
}
