.gray {
  filter: invert(100%) brightness(40%);
}

.primary {
  color: var(--primary);
}

.hide {
  display: none;
}

.shadow {
  $width: 5rem;
  box-shadow: 0px 0px $width 0px $primary;

  &:hover {
    box-shadow: 0px 0px $width 0px $primary-hover;
  }
}