/* Colors */
$black: #081417;
$white: var(--color);
$primary: var(--primary);
$primary-hover: var(--primary-hover);
$secondary: var(--secondary);
$secondary-hover: var(--secondary-hover);
$background-primary: var(--background-primary);
$background-secondary:  var(--background-secondary);

/* Screen Sizes */
$breakpoint: 960px;
$lg: 1500px;

/* Z-INDEX */
$z-index: ();
