/* Fonts */
// $font-primary: "Poppins", sans-serif;
// $font-secondary: "Mango Grotesque", sans-serif;

/* Colors */
$black: #0f0f0f;
$white: #fffaf2;
$blue: #1e90ff;
$workzone-background: #282828;
$workzone-settings: #535353;
$workzone-settings-button: #424242;
$workzone-border: #333333;



/* Screen Sizes */
$sm: 576px;
$md: 990px;
$lg: 1440px;
$xl: 1800px;

/* Z-INDEX */
$z-index: (

);
